@model  Web.Model.Entity.Matricula

<div id="modalAtivar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center" id="ativarModalCabecalho"></h4>
        </div>

        <div class="col s12 l12">
            <div class="col s12 l4">
                <p class="center">
                    <strong style="font-weight:bold">Aluno</strong>
                    <br />
                    <label id="ativarModalNome">117979</label>
                </p>
            </div>
            <div class="col s12 l4">
                <p class="center">
                    <strong style="font-weight:bold">RG</strong>
                    <br />
                    <label id="ativarModalRG"></label>
                </p>
            </div>
            <div class="col s12 l4">
                <p class="center">
                    <strong style="font-weight:bold">CPF</strong>
                    <br />
                    <label id="ativarModalCPF"></label>
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a id="fecharAtivar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="ativar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Ativar()">ativar</a>
    </div>
</div>