@model  Web.Model.Entity.Matricula

<head>
    <style>
        .subtitleModal {
            font-family: 'Roboto', sans-serif;
            text-align: left;
            text-transform: uppercase;
        }
    </style>
</head>
<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="flow-text center" id="tituloAlunoEditar"></h4>
        </div>
        <br /><br />
        <div class="col s12 l12">
            <form class="col s12 l12">
                <div class="input-field col s6">
                    <input placeholder="Ex: Ronaldo, Diego, Angela..." id="nomeEditar" type="text" class="validate">
                    <label for="nomeEditar"></label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="dd/mm/aaaa" type="text" id="datadenascimentoEditar" maxlength="10" class="validate">
                    <label for="datadenascimentoEditar"></label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s12">
                    <p>
                        <label>
                            <input id="menorDeIdadeEditar" type="checkbox" />
                            <span>Menor de idade?</span>
                        </label>
                    </p>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Nome do resposável, caso for menor de idade" type="text" id="resposavelEditar" class="validate">
                    <label for="resposavelEditar">Responsável</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Grau de parentesco" type="text" id="parentescoEditar" class="validate">
                    <label for="parentescoEditar">Grau de Parentesco</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Data Nascimento do Responsável" type="text" id="NascimentoparentescoEditar" class="validate">
                    <label for="NascimentoparentescoEditar">Data Nascimento do Responsável</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: 999.999.999-99" id="cpfEditar" oninput="mascaraCPF(this)" type="text">
                    <label for="cpfEditar">CPF</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: 99.999.999-9" id="rgEditar" oninput="mascaraRG(this)" type="text">
                    <label for="rgEditar">RG</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: email@email.com" id="emailEditar" type="email">
                    <label for="emailEditar">E-mail</label>
                </div>

                <div class="input-field col s4">
                    <input placeholder="Ex: 46361345, 84512574..." id="telefoneEditar" type="text" class="validate" maxlength="11">
                    <label for="telefoneEditar">Telefone</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Ex: 46361345, 84512574..." type="text" id="telefone2Editar" class="validate">
                    <label for="telefone2Editar">Telefone 2</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Ex: 46361345, 84512574..." type="text" id="telefone3Editar" class="validate">
                    <label for="telefone3Editar">Telefone 3</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Casa" id="contatoEditar" type="text" class="validate" maxlength="11">
                    <label for="contatoEditar">Descrição Telefone</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Celular" type="text" id="contato2Editar" class="validate">
                    <label for="contato2Editar">Descrição Telefone 2</label>
                </div>

                <!-- NOVO INPUT -->
                <div class="input-field col s4">
                    <input placeholder="Celular" type="text" id="contato3Editar" class="validate">
                    <label for="contato3Editar">Descrição Telefone 3</label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 08568520..." onblur="PesquisaCEPEditar()" id="cepEditar" oninput="mascaraCEP(this)" class="validate" maxlength="9">
                    <label for="cepEditar"></label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Av. Paulista..." id="enderecoEditar" type="text" class="validate" maxlength="45" disabled>
                    <label for="enderecoEditar"></label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: 4300..." id="numeroEditar" type="number" class="validate" maxlength="5">
                    <label for="numeroEditar"></label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Penha, Vila Leopoldina..." id="bairroEditar" type="text" class="validate" maxlength="30" disabled>
                    <label for="bairroEditar"></label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: Poá, Suzano..." id="cidadeEditar" type="text" class="validate" maxlength="30" disabled>
                    <label for="cidadeEditar"></label>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Ex: SP, MG..." id="estadoEditar" type="text" class="validate" disabled>
                    <label for="estadoEditar"></label>
                </div>

                <div id="modalCadastroAluno" class="modal">
                    <div class="modal-content">
                        <h4 class="flow-text center">Aluno Editado!</h4>
                        <p class="center">Clique em "SAIR" para voltar a página principal.</p>

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="{redirect()}">sair</a>
                    </div>
                </div>
                <input id="idEditar" style="display: none;" />
            </form>
        </div>


        <div class="col s12 l12">
            <br /><br />
            <div class="col s12 l12">
                <h4 class="flow-text subtitleModal">Turma Atual</h4>
                <table class="centered" id="tabelaNova">

                    <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Tipo</th>
                            <th>Professor</th>
                            <th>Dia da Semana</th>
                            <th>Horário Inícial</th>
                            <th>Horário FInal</th>
                        </tr>
                    </thead>

                    <tbody id="Grid">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="fecharEditar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
        <a id="editar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Editar()">Atualizar</a>
    </div>
</div>

