################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Informa_MVC/v16
/.vs
/.vs/informa/config
/Model/bin/Debug/netstandard2.0
/Model/obj
/Test/obj/Debug/build.force
