
@{
    Layout = "~/Views/Shared/_SemLayout.cshtml";
    ViewBag.Title = "Login";
}
<style>
    body {
        background-color: #0b3f8e;
        user-select: none;
    }

    .input-field input:focus + label {
        color: #fff !important;
    }
    /* label underline focus color || Border bottom*/
    .row .input-field input:focus {
        border-bottom: 1px solid #fff !important;
        box-shadow: 0 1px 0 0 #fff !important
    }
</style>

<div class="row container">
    <br><br>
    <br><br>

    <div class="col s12 l12 ">
        <div class="col s12 l12 center">
            <img src="~/imgs/golfin.png" class="responsive-img">
        </div>
    </div>

    <div class="col s12 l12">
        <div class="col s12 l12">
            <form class="col s12 l5 offset-l4">
                <div class="input-field col s12">
                    <input placeholder="Digite seu usuario..." id="first_name" type="text" class="validate"
                           style="color:#fff;">
                    <label for="first_name">Usuario</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Digite sua senha..." id="first_name" type="text" class="validate"
                           style="color:#fff;">
                    <label for="first_name">Senha</label>
                </div>
                <div class="col s12 l12">
                    <!-- <input class="waves-effect waves-light btn white" type="submit" name="logar" value="Logar no inForma" style="color:#115FD3; width: 200px;"><br> -->
                    <a asp-controller="Home" asp-action="Index" class="waves-effect waves-light btn white" style="color: #0d47a1;">
                        <i class="material-icons right medium">send</i>Logar no inForma
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="col s12 l12 ">
        <div class="col s12 l12 center">
            <br><br>
            <img src="~/imgs/churrosteam.png" width="170" class="responsive-img">
        </div>
    </div>

</div>

