
@{
    ViewBag.Title = "Index";
}


    <div class="container">

        <!-- BREADCRUMB -->
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <span class="left">
                        <a id="paginaPrincipal" href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
                        <a href="#" class="breadcrumb">Cadastros</a>
                        <a id="paginaSistema" href="@Url.Action("Index", "UsuarioSistema")" class="breadcrumb"><strong>Usuários do sistema</strong></a>
                    </span>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col s12 l12">
                <a id="cadastrarCargo" href="#cadastrarUsuario" class="btn waves-effect waves-light right modal-trigger">Cadastrar Usuário</a>
            </div>
        </div>

        <div id="cadastrarUsuario" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="flow-text center">CADASTRAR USUARIO</h4>
                </div>
                <br /><br />

                <div class="col s12 l12">
                    <form class="col s12 l12" id="formularioAdicionar">
                        <div class="input-field col s6">
                            <input placeholder="Ex:Diego, David..." id="nome" type="text" class="validate">
                            <label for="funcao">Nome do Usuario</label>
                        </div>

                        <div class="input-field col s6">
                            <select>
                                <option value="" disabled selected>Escolha o nivel de acesso</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Nivel de Acesso</label>
                        </div>

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <a id="fecharCadastrar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
                <a id="cadastrar" class="waves-effect waves-light btn modal-trigger right btnCadastrar">Cadastrar</a>
            </div>
        </div>

        <div class="row containerConfigurado">

            <table class="highlight centered tabela" id="tabelaCadastrar">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nivel de Acesso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Diego</td>
                        <td>Administrador</td>
                        <td>
                            <a id="editarCargo" class="btn-floating btn-sm waves-effect waves-light yellow modal-trigger" href="#modalEditar"><i class="material-icons" style="background-color:#f79f00">create</i></a>
                            <a id="deletarCargo" class="btn-floating btn-sm waves-effect waves-light red modal-trigger" href="#modalDeletar"><i class="material-icons">delete_forever</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div id="modalEditar" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="flow-text center">Editar Usuario `tal`</h4>
                </div>
                <br /><br />

                <div class="col s12 l12">
                    <form class="col s12 l12" id="formularioAdicionar">
                        <div class="input-field col s6">
                            <input placeholder="Ex:Diego, David..." id="nome" type="text" class="validate">
                            <label for="funcao">Nome do Usuario</label>
                        </div>

                        <div class="input-field col s6">
                            <select>
                                <option value="" disabled selected>Escolha o nivel de acesso</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Nivel de Acesso</label>
                        </div>

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <a id="fecharEditar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
                <a id="editar" class="waves-effect waves-light btn modal-trigger right btnCadastrar">Atualizar</a>
            </div>
        </div>


        <div id="modalDeletar" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="flow-text center" id="deletarCargoModal">Tem certeza que deseja deletar usuario tal</h4>
                </div>

                <div class="col s12 l12">
                    <form class="col s12 l12" id="formularioAdicionar">
                        <div class="input-field col s6">
                            <input placeholder="Ex:Diego, David..." id="nome" type="text" class="validate" disabled>
                            <label for="funcao">Nome do Usuario</label>
                        </div>

                        <div class="input-field col s6">
                            <select disabled>
                                <option value="" disabled selected>Escolha o nivel de acesso</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Nivel de Acesso</label>
                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <a id="fecharDeletar" href="#!" class="modal-close btn-flat" style="background-color:inherit; border:inherit; color: black">Fechar</a>
                <a id="deletar" class="waves-effect waves-light btn modal-trigger right btnCadastrar" onclick="Deletar()">Deletar</a>
            </div>
        </div>
    </div>