
<div class="containerConfigurado">
    <div class="row">
        <div class="input-field col s2">
            <input placeholder="01/01/2020" id="dataInicial" type="date" class="validate">
            <label for="dataInicial">Data Inicial</label>
        </div>
        <div class="input-field col s2">
            <input placeholder="01/01/2020" id="dataFinal" type="date" class="validate">
            <label for="dataFinal">Data Final</label>
        </div>
        <div class="input-field col s2 p3">
            <div class="s1 ">
                <a id="gerarPDF" href="#!" class="btn right" onclick="fazPDF()">Gerar PDF</a>
            </div>
            <div class="s1">
                <a id="pesquisar" href="#!" class="btn right green p3" onclick="PesquisarDados()">Pesquisar</a>
            </div>
        </div>
    </div>
</div>