
@{
    ViewBag.Title = "Pagamentos";
}

<nav class="clean containerConfigurado">
    <div class="nav-wrapper">
        <div class="col s12">
            <span class="left">
                <a id="paginaPrincipal" href="@Url.Action("Index", "Principal")" class="breadcrumb">Principal</a>
                <a href="#" class="breadcrumb">Cadastro</a>
                <a id="paginaCargo" href="@Url.Action("Index", "ConsultaPagamento")" class="breadcrumb"><strong>Consulta de Pagamentos</strong></a>
            </span>
        </div>
    </div>
</nav>


<h4 class="flow-text center">RELATORIO DE PAGAMENTOS</h4>

@Html.Partial("_CabecalhoPesquisa")


<div class="row containerConfigurado">
    <table class="highlight centered tabela" id="tabela">
        <thead>
            <tr>
                <th>Dia</th>
                <th>Credito</th>
                <th>Debito</th>
                <th>Dinheiro</th>
            </tr>
        </thead>
        <tbody id="Grid">
        </tbody>
    </table>

</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.65/pdfmake.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.65/vfs_fonts.js'></script>


@section scripts{
    <script>
        let valorDebito = 0;
        let valorCredito = 0;
        let valorDinheiro = 0;
        let valorDias;

        $(document).ready(function () {
            $('#tabela').DataTable();
        });

    $(document).ready( function() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    document.getElementById("dataInicial").value = today;
    });

    function PesquisarDados()
    {
        var ConsultaPagamento = {
            Datainicial: document.getElementById('dataInicial').value,
            Datafinal: document.getElementById('dataFinal').value
        }
        $.ajax({
                   type: "POST",
                   url: "@Url.Action("ConsultaTabela", "ConsultaPagamento")",
            data: { consultaPagamento: ConsultaPagamento },
            success: function (data) {
                       //Coloque aqui o local onde a View deverá ocupar
                       $("#Grid tr").remove();
                       $(data).each(function () {
                           $("#Grid").append("<tr><td>" + this.Dias + "</td><td>" + this.Credito + "</td> <td>" + this.Debito + "</td><td>" + this.Dinheiro + "</td> </tr>");
                       });

                for (var i = 0; i < data.length; i++) {
                    valorDebito += data[i].Debito;
                    valorCredito += data[i].Credito;
                    valorDinheiro += data[i].Dinheiro;
                }
             }
        });

    }

        const fazPDF = () => {

            var docDefinition = {
                content: [
                    {
                        text: 'Relatorio de Pagamento' + '\n' + 'De: ' + document.getElementById('dataInicial').value + '\n' + 'Até: ' + document.getElementById('dataFinal').value + '\n\n',
                        style: 'title',

                    },
                    {
                        text: [
                            'Pagamento em ',
                            { text: 'DINHEIRO', fontSize: 15, bold: true },
                            `: R$${valorDinheiro}`,
                            '\n\n',
                        ],

                    },
                    {
                        text: [
                            'Pagamento em ',
                            { text: 'DEBITO', fontSize: 15, bold: true },
                            `: R$${valorDebito}`,
                            '\n\n',
                        ],

                    },
                    {
                        text: [
                            'Pagamento em ',
                            { text: 'CREDITO', fontSize: 15, bold: true },
                            `: R$${valorCredito}`,
                            '\n\n',
                        ],

                    },

                ],
                styles: {
                    title: {
                        fontSize: 18,
                        bold: true,
                        alignment: 'center'
                    },

                }
            }


            pdfMake.createPdf(docDefinition).open();
            valorDebito = 0;
            valorCredito = 0;
            valorDinheiro = 0;
    }


    </script>

}

