body {
    background: #F9F9F9;
    user-select: none;
}
/* .linkUnicoSideBar{
    margin-right: 40px;
    float: left;
} */

/* SCROLLBAR */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

/* Cada Item do DROPDOWN do MENUBAR */
.side-nav .collapsible-body li a span, .side-nav.fixed .collapsible-body li a span {
    margin-left: 50px;
}

/* BREADCRUMB */
nav.clean {
    background: none;
    box-shadow: none;
}

    nav.clean .breadcrumb {
        color: black;
    }

        nav.clean .breadcrumb:before {
            color: rgba(0, 0, 0, 0.7);
        }

.breadcrumb {
    color: black;
    font-size: 15px;
}

/* CHANGE CHECKBOX COLOR */
[type="checkbox"]:checked + label:before {
    border-right: 2px solid #af2405;
    border-bottom: 2px solid #af2405;
}

/* INPUT COLOR */
.input-field input:focus + label {
    color: #af2405 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #af2405 !important;
    box-shadow: 0 1px 0 0 #af2405 !important
}

/* CCORES DE PAGINACAO */
.pagination li.active {
    background-color: #af2405;
}

/* POS PREENCHER FORMULARIO, MUDA A COR */
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #f79f00;
    -webkit-box-shadow: 0 1px 0 0 #f79f00;
    box-shadow: 0 1px 0 0 #f79f00;
}

.btn-flat {
    background-color: #af2405;
    color: #fff
}

.btn {
    background-color: #af2405;
}

.collapsible-body span {
    margin-left: 50px;
    width: 600px;
}

.collapsible-header i {
    width: 50px;
}

#arrow {
    margin-left: auto;
}
